@page "/"
<h1>Welcome To The Depreciation Calculator 30 Million</h1>

<p>
    This calculator will help you calculate the depreciation value of a asset
</p>
<p>
     Click on the calculator link to the left or
    <NavLink href="counter">Click here </NavLink>
    for Calculator
</p>


@code {



}
