<div class="row">
    <div class="col">
        @AssetsTable = State.Form.Values.StartingVal
    </div>
    <div class="col">
        @AssetsTable
    </div>
    <div class="col">
        @AssetsTable
    </div>
    <div class="col">
        @AssetsTable
    </div>
    <div class="col">
        @AssetsTable
    </div>
    <div class="col">
        <button class="@ButtonClass"
                @onclick="@(async () => await Selected.InvokeAsync(value))">
            @ButtonTitle
        </button>
    </div>

</div>


@code {
    [Parameter] public AssetsTable AssetsTable { get; set; }


    [Parameter] public Values value { get; set; }

    [Parameter] public string ButtonTitle { get; set; }

    [Parameter] public string ButtonClass { get; set; }

    [Parameter] public EventCallback<Values> Selected { get; set; }

}
